body {
    background-color: #f9f8f8;
}
*,
h1,
button {
    font-family: 'Nunito', sans-serif;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-active {
    opacity: 0;
}

.tasks {
    width: 100%;
    max-width: 45rem;
    padding: 1em;
    margin: 1em auto;
    overflow: auto;
   
}

.tasks__list {
    clear: both;
}

.tasks__item {
    margin-bottom: 0.5em;
    border-radius: 5px;
    position: relative;
    list-style: none;
}

.tasks__item__toggle {
    cursor: pointer;
    width: 100%;
    text-align: left;
    padding: 0.85em 1.25em 0.85em 1em;
    background-color: rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.tasks__item__toggle:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-color: rgba(0, 0, 0, 0.15);
}

.task-status{
    padding: 3px;
    background-color: green;;
    border-radius: 50%;
    color: #fff;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    padding-top: 18px;
    width: 100%;
    background-color: #cad7e7f5;
    color: white;
    text-align: center;
}
.fz-12{
    font-size: 12px;
}
.loading{
    cursor:not-allowed ;
}

.task-action-btn{
    font-size: 12px;
    border: none;
    border-radius: 50%;
    width: 23px;
    height: 23px;
    text-align: center;
}
.task-action-btn.done{
    color: #fff;
    background-color: green;
}
.task-action-btn.danger {
    color: red;
}

.task-action-btn.danger:hover {
    color: #fff;
    background-color: red;
}
